* {
	font-family: sans-serif;
}

@media only screen and (max-width: 552px) {
	body { 
		font-size: 90%; 
	}
	#logo { 
		font-size:  280%;
	}
	#navlist { 
		font-size: 165%;
		padding-right: 0%;
	}
	#navdiv2 {
		display: none;
	}
	#bio p a, #portfolio, footer {
		font-size:  160%;
	}
}

@media only screen and (min-width: 552px) {
	#navdiv {
		display: none;
	}
}

body {
    background-color: #0033FF;
    color:  #FFF; 
    margin-left: 0; 
}

nav {
	padding-top: 10px;
}

a {
	-webkit-transition: background-color 2s;
    transition: background-color 2s;
}

a, a:hover {
	color:  white;
}

#socialMedia img:hover,  #logo img:hover {
	-webkit-filter: brightness(150%); 
}

#menu-box {
	height: 40px;
	width: 40px;
	background-color: #fff;
	-webkit-border-radius: 5px;
			border-radius: 5px;
	z-index: 1;
	float: right;
}

#socialMedia {
	margin-left: 0;
}

#socialMedia img {
	height: 40px;
	width: 40px;
}

#socialMedia a:hover {
	text-decoration: none;
}

#portfolio  {
	text-align: center;
}

#portfolio a {
	color: #0033FF;
	font-weight: bold;
	-webkit-transition: font-size .8s;
    transition: font-size .8s;
}

#portfolio a:hover {
	font-size: 130%;
}

#box2 a {
	color: white;
}

#logo { 
	text-align: left;
	padding:  10px 30px 0px 30px;
}

#logo p {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#bio {
	padding-left: 10%;
	padding-right:  10%;
}

#bio p#summary {
	font-size:  2.3em;
	padding-top: 80px;
	padding-bottom:  25px;

}

#bio p {
	padding-bottom:  80px;
	font-size:  1.2em;
}

#header, #sub { 
	text-align: center;
}

#navlist li, #navlist2 li {
	text-align: right;
	font-weight: bold;
}

#navlist li {
	display: block;
}

#navlist2 li {
	display: inline;
}

.navbar li a {
	color:  #FFF;
}

.navbar li a:hover, #bio a:hover {
	background-color: black;
}

.navbar {
	float: right;
	padding-right:  5%;
}

#navdiv {
	float: right;
}

.footer {
	padding-top:  25px;
}

#box1 {
	position: relative;
}

.description {
	width: 100%;
}



#portfolio div {
	padding: 0px;
}




